.price-input {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;

  %price-input__hidden-segment {
    .price-input__segment input {
      width: 0;
      padding: 0;
      border: 0;
    }

    .price-input__segment {
      width: 0;
      overflow: hidden;
    }
  }

  %price-input__icon-cell {
    flex: 0 0 40px;
    justify-content: flex-end;
    column-gap: 0;
    padding: 0 12px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    transition-property: flex-grow, flex-basis, padding;
  }

  &--l-single &__container {
    flex: 1 1 auto;
  }

  &--l-only-customer &__container--estimate,
  &--l-only-customer &__container--customer {
    flex: 1 1 0;
    min-width: 0;
  }

  &--l-icons &__container--estimate {
    flex: 1 1 auto;
    justify-content: flex-start;
    padding: 0 12px;
    cursor: default;
  }

  &--l-icons &__container--customer {
    @extend %price-input__icon-cell;
    @extend %price-input__hidden-segment;
  }

  &--l-draft-customer &__container--estimate {
    flex: 1 1 0;
    min-width: 0;
  }

  &--l-draft-customer &__container--customer {
    flex: 1 1 0;
    min-width: 0;
  }

  &__container {
    display: flex;
    align-items: center;
    column-gap: 8px;
    height: 40px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #E7E7E7;
    min-width: 0;

    &--disabled {
      background-color: #EFEFEF;
    }
  }

  &__segment {
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
  }

  &__icon {
    flex: 0 0 auto;
    width: 16px;
    opacity: 0.6;
  }
}
